body{
    background-color:black;
}

.calculatorWrapper{
    max-width:900px;
    margin:0 auto;
    background:white;
    min-height:200px;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  sans-serif;
}


